<div class="class-list">
    <div 
        (dragover)="onDragOver($event, classItem)" 
        (drop)="onDrop($event, classItem)"
        *ngFor="let classItem of filteredClasses; let i = index" 
        class="class-card"
        [class.selected]="selectedClass?.id === classItem.id" 
        [class.drag-over]="classService.draggedStudent() && classService.draggedStudent()?.classId !== classItem.id"
        (click)="selectClass(classItem)">
        <div *ngIf="classItem.fieldId" class="class-info">
            <h3 class="class-name">{{ classItem.name }}</h3>
            <span class="field-badge" [ngClass]="getBadgeClass(i)">
                {{ getFieldById(classItem.fieldId).name }}
            </span>
        </div>
        <div class="class-info-container">
            <div class="class-stats">
                <div class="stat">
                    <span class="stat-label">Öğrenci</span>
                    <span class="stat-value">{{ classItem.studentCount }}</span>
                </div>
                <div class="stat">
                    <span class="stat-label">Ortalama</span>
                    <span class="stat-value">{{ classItem.averageGrade.toFixed(1) }}</span>
                </div>
            </div>
            <div class="class-actions">
                <button (click)="onEditClass(classItem)" matTooltip='Sınıfı Düzenle' mat-icon-button class="icon-btn edit">
                    <ng-icon size="24" name="heroPencilSquare"></ng-icon>
                </button>
                <button (click)="onDeleteClass(classItem)" matTooltip='Sınıfı Sil' mat-icon-button class="icon-btn delete">
                    <ng-icon size="24" name="heroTrash"></ng-icon>
                </button>
            </div>
        </div>
        <div *ngIf="classService.draggedStudent() && classService.draggedStudent()?.classId !== classItem.id" class="drop-indicator">
            <mat-icon>add</mat-icon>
            <span>Öğrenciyi buraya bırakın</span>
        </div>
    </div>
</div>
<button matRipple class="add-class-card" (click)="onAddNewClass()">
    <h3 class="class-name">Yeni Sınıf Ekle</h3>
    <ng-icon name="heroPlus"></ng-icon>
</button>
