button {
 display: flex;
 align-items: center;
 gap: 8px;
 padding: 12px 24px;
 font-weight: 500;
 border-radius: 8px;
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
 background: var(--linear-primary);
 color: var(--text-light, #fff);
 transition: background 0.2s;

 &:hover {
  background: var(--linear-primary-hover);
 }

 &.danger {
  background: var(--error-500);
  color: var(--text-light, #fff);
  &:hover {
   background: var(--error-600);
  }
 }
 &.secondary {
  background: var(--primary-600);
  color: var(--text-light, #fff);
  &:hover {
   background: var(--primary-800);
  }
 }
}
